@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  /*utilizada para alterar a propriedade padrao usada para calcular larguras e alturas*/
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease;
}

/*Colors and Styles */

:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --InputColor: hsl(330, 12%, 97%);


  /*font ang Typography*/
  --bggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FonSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem
}

/*Default Styles */

html {
  font-size: 90%;
}